.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
}
.p{
    font-size: larger;
}
.tabla{
font-size: larger;

background-color: snow;
}
.t{
    font-family:Georgia;
}
